################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/UpgradeLog.htm
/Debug
/Maps/0000.DUNGEON [Dungeon].xml.bak
/RCa14184
/RCc14184
/RCb14184
/Maps/0000.DUNGEON [Dungeon].xml.bak
/Release
